<div class="uk-container">
  <section class="uk-section uk-section-small">
    <div class="uk-container">
      <h3>
        Portadores
      </h3>
      <div style="float:left;width:75%">
        <ngx-datatable class="material" [rows]="portadores" [columns]="columns" [columnMode]="ColumnMode.force"
          [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="5" [selected]="selected"
          [selectionType]="SelectionType.single" (activate)="onActivate($event)" (select)="onSelect($event)">
        </ngx-datatable>

        <ng-template #statusTmpl let-row="row" let-value="value">
          <span>
            <span *ngIf="value==='aprovado'" class="uk-label uk-label-success">{{value}}</span>
            <span *ngIf="value==='negado'" class="uk-label uk-label-danger">{{value}}</span>
            <span *ngIf="value=='pendente' || value.length==0" class="uk-label">{{value || 'pendente'}}</span>
          </span>
        </ng-template>
      </div>
      
    </div>
  </section>
</div>