<nav class="uk-navbar-container" class="nav" uk-navbar *ngIf="isLoggedIn | async">
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/portadores"><img class="logo" src="../../assets/conductor-logo.png" alt="Logo"></a></li>
        </ul>
    </div>
    
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li class="uk-parent" *ngIf="userData" >
                <a>Usuario: {{userData.username}}</a>

            </li>
            <li class="uk-parent" *ngIf="userData" >
                <a>Role: {{userData.role.name}}</a>
            </li>
        </ul>
        
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <!-- <li *ngFor="let portador of data.portadors" class="uk-active">
                <a routerLink="/portador/{{ portador.id }}" routerLinkActive="active" class="uk-link-reset">
                    {{ portador.nome }}
                </a>
            </li> -->
            
            <li class="uk-active" *ngIf="userData.role.name=='captador'">
                <a routerLink="/novo-portador" routerLinkActive="active" class="uk-link-reset">
                    Novo portador
                </a>
            </li>
            <li class="uk-active">
                <a (click)="handleLogout()" class="uk-link-reset">
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>