<div class="uk-container uk-padding">
  <h3>Novo portador</h3>
  <form [formGroup]="portadorForm" (submit)="salvarPortador()">
    <fieldset class="uk-fieldset">
      <div class="uk-margin">
        <label for="">Nome *</label>
        <input class="uk-input" type="text" formControlName="nome">
      </div>
      <div
        *ngIf="portadorForm.controls['nome'].invalid && (portadorForm.controls['nome'].dirty || portadorForm.controls['nome'].touched)"
        class="alert alert-danger">
        <div *ngIf="portadorForm.controls['nome'].errors.required">
          Nome é obrigatório.
        </div>
      </div>

      <div class="uk-margin">
        <label for="">CPF *</label>
        <input 
          class="uk-input" 
          type="text" 
          matInput
          formControlName="cpf" 
          [mask]="getCpfCnpjMask()"           
          [(ngModel)]="cpf_cnpj" 
          placeholder="Digite o CPF ou CNPJ" 
        />
        <!-- <div *ngIf="portadorForm.controls['cpf'].errors.required">
          CPF é obrigatório.
        </div>
        <div *ngIf="portadorForm.get('cpf').getError('cpfNotValid')">
          CPF invalido.
        </div> -->
      </div>

      <form class="uk-form">
        <label for="">Data de nascimento</label>
        <br />
        <input class="date" formControlName="dob" type="date">
      </form>

      <div class="uk-margin">
        <label for="">Phone</label>
        <input type="text" class="uk-input" formControlName="phone" matInput [(ngModel)]="phoneNumber" mask="(00) 00000-0000" />
      </div>
      <div
        *ngIf="portadorForm.controls['phone'].invalid && (portadorForm.controls['phone'].dirty || portadorForm.controls['phone'].touched)"
        class="alert alert-danger">
        <div *ngIf="portadorForm.get('phone').getError('phoneNotValid')">
          Phone invalido.
        </div>
      </div>
      

      <div class="uk-margin">
        <label for="">Possui antecedentes criminais?</label>
        <select formControlName="antecedentes" class="uk-select">
          <option value=false>Não</option>
          <option value=true>Sim</option>
        </select>
      </div>

      <div class="uk-margin">
        <label for="">Faixa salarial</label>
        <select formControlName="renda" class="uk-select">
          <option value=0>Não possui</option>
          <option value=1>Até R$ 1000,00</option>
          <option value=2>Até R$ 3000,00</option>
          <option value=3>Até R$ 5000,00</option>
          <option value=4>Até R$ 1000,00</option>
          <option value=5>Acima de R$ 10000,00</option>
        </select>
      </div>

      <div class="uk-margin">
        <label for="">Possui dividas pendentes?</label>
        <select formControlName="dividasPendentes" class="uk-select">
          <option value=false >Não</option>
          <option value=true >Sim</option>
        </select>
      </div>

      <div class="uk-margin">
        <label for="">Estado civil</label>
        <select formControlName="estadoCivil" class="uk-select">
          <option>solteiro</option>
          <option>casado</option>
          <option>separado</option>
          <option>divorciado</option>
          <option>viuvo</option>
        </select>
      </div>
      
      <div class="uk-margin">
        <label for="">Grau de escolaridade</label>
        <select formControlName="escolaridade" class="uk-select">
          <option value="analfabeto">Analfabeto</option>
          <option value="ensino_fundamental_incompleto">Ensino fundamental incompleto</option>
          <option value="ensino_fundamental_completo">Ensino fundamental completo</option>
          <option value="ensino_medio_incompleto">Ensino medio incompleto</option>
          <option value="ensino_medio_completo">Ensino medio completo</option>
          <option value="superior_incompleto">Superior incompleto</option>
          <option value="superior_completo">Superior completo</option>
          <option value="mestrado">Mestrado</option>
          <option value="doutorado">Doutorado</option>
        </select>
      </div>

      <div class="uk-margin">
        <label for="">Cargo</label>
        <input class="uk-input" type="text" formControlName="cargo">
      </div>
      <div
        *ngIf="portadorForm.controls['cargo'].invalid && (portadorForm.controls['cargo'].dirty || portadorForm.controls['cargo'].touched)"
        class="alert alert-danger">
        <div *ngIf="portadorForm.controls['cargo'].errors.required">
          Cargo é obrigatório.
        </div>
      </div>

      <div class="uk-margin">
        <label for="">Endereço</label>
        <input class="uk-input" type="text" formControlName="endereco">
      </div>
      <div
        *ngIf="portadorForm.controls['endereco'].invalid && (portadorForm.controls['endereco'].dirty || portadorForm.controls['endereco'].touched)"
        class="alert alert-danger">
        <div *ngIf="portadorForm.controls['endereco'].errors.required">
          Cargo é obrigatório.
        </div>
      </div>

      <div class="uk-margin">
        <label for="">Proposta de Credito</label>
        <input class="uk-input" type="text" placeholder="R$ 5.000,00" formControlName="proposta">
      </div>
      <div
        *ngIf="portadorForm.controls['proposta'].invalid && (portadorForm.controls['proposta'].dirty || portadorForm.controls['proposta'].touched)"
        class="alert alert-danger">
        <div *ngIf="portadorForm.controls['proposta'].errors.required">
          Proposta é obrigatória.
        </div>
      </div>
      
      <div class="uk-margin">
        <label for="">Informações adicionais</label>
        <textarea formControlName="info" class="uk-textarea" rows="5"></textarea>
      </div>
     
      <button type="submit" [disabled]="portadorForm.invalid"
        class="uk-button uk-button-primary uk-width-1-1">Salvar</button>
    </fieldset>
  </form>
</div>