<div class="uk-container">
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
        <div class="uk-card-header">
            <h3 class="uk-card-title">Analisar proposta de Portador</h3>
        </div>
        <div ngIf="!!portador" class="uk-card-body">

            <dl class="uk-description-list">
                <dt>id</dt>
                <dd>{{portador.id}}</dd>
                <dt>Data de Cadastro</dt>
                <dd>{{portador.created_at}}</dd>
                <dt>nome</dt>
                <dd>{{portador.nome}}</dd>
                <dt>cpf</dt>
                <dd>{{portador.cpf}}</dd>
                <dt>rg</dt>
                <dd>{{portador.rg}}</dd>
                <dt>dob</dt>
                <dd>{{portador.dob}}</dd>
                <dt>renda</dt>
                <dd>{{mapRenda[portador.renda]}}</dd>
                <dt>antecedentes</dt>
                <dd>{{(portador.antecedentes === 'true') ? 'Sim' : 'Não'}}</dd>
                <dt>dividas pendentes</dt>
                <dd>{{(portador.dividasPendentes === 'true') ? 'Sim' : 'Não'}}</dd>
                <dt>phone</dt>
                <dd>{{portador.phone}}</dd>
                <dt>estado civil</dt>
                <dd>{{portador.estadoCivil}}</dd>
                <dt>escolaridade</dt>
                <dd>{{mapEscolaridade[portador.escolaridade]}}</dd>
                <dt>cargo</dt>
                <dd>{{portador.cargo}}</dd>
                <dt>endereço</dt>
                <dd>{{portador.endereco}}</dd>
                <dt>score</dt>
                <dd>{{portador.score}}</dd>
                <dt>informações adicionais </dt>
                <dd>{{portador.info}}</dd>
                <dt>proposta</dt>
                <dd>{{portador.proposta}}</dd>
                <dt>status</dt>
                <dd>{{portador.status}}</dd>
            </dl>



        </div>
        <div class="uk-card-footer">
            <p uk-margin class='uk-flex uk-flex-between button-container'>
                <button (click)="buttonClickAprovar()" class="uk-button uk-button-primary">Aprovar</button>
                <button (click)="buttonClickReprovar()" class="uk-button uk-button-danger">Reprovar</button>
            </p>
        </div>
    </div>




</div>